<div class="product-title">
  <h4>Townsman Automatic Stainless Steel Watch – Black</h4>
</div>

<div class="product-image">
  <img src="http://fossil.scene7.com/is/image/FossilPartners/ME3062_main" />
</div>

<div class="product-title">
  <h4>US $249.00</h4>
  <h5>ME3063P</h5>
</div>

<div class="product-rating">
  <i class="fal fa-star"></i>
  <i class="fal fa-star"></i>
  <i class="fal fa-star"></i>
  <i class="fal fa-star"></i>
  <i class="fal fa-star"></i>
  <span>4.6</span>
</div>

<div class="product-action">
  <button (click)="onClickPurchase()">Purchase</button>
</div>

<div class="product-description">
  <h4>Product Details</h4>
  <label>Collection:</label> Townsman<br />
  <label>Movement Type:</label> Mechanical Automatic<br />
  <label>Case Size:</label> 45mm<br />
  <label>Strap Material:</label> Stainless Steel<br />
  <label>Water Resistant:</label> 5 ATM<br />
</div>

<div class="product-description">
  <h4>Want To Know More?</h4>
  <p>
    From desk to dinner, daily commute to jet-set journey, think of Townsman as his best-dressed essential. Crafted with
    an exposed automatic movement, it's a sleek, pulled-together style that never takes itself too seriously.
  </p>
</div>

<div class="product-description">
  <h4>About the Movement</h4>
  <p>
    The automatic movement features a built-in rotor that’s powered by the motion of your wrist—no battery required. If
    your watch stops ticking, simply turn the crown clockwise until you feel some resistance. Click here to learn more
    about this watch.
  </p>
</div>

<div class="product-description">
  <h4>Recommended Care</h4>
  <p>
    Stainless steel does not readily corrode, rust or stain with water as ordinary steel does. Click here to order
    additional links for your watch.
  </p>
</div>

<div class="product-description">
  <h4>Warranty</h4>
  <p>
    Our limited warranty covers defects in material or workmanship up to two years from date of purchase. Click here to
    learn more.
  </p>
</div>

<div class="product-description">
  <h4>Repairs</h4>
  <p>
    We will repair or replace any products still under warranty. Click here for more information.
  </p>
</div>

<div class="product-description">
  <h4>Returns</h4>
  <p>
    We accept returns of unworn merchandise up to 30 days from purchase for a full refund. Click here to learn more.
  </p>
</div>
