<div class="product-image">
  <img [src]="product.image" />
</div>

<div class="product-title">
  <h4>{{ product.name }}</h4>
</div>

<div class="product-title">
  <h4>ZAR {{ product.price }}</h4>
  <h5>ME3063P</h5>
</div>

<div class="product-rating">
  <i class="fal fa-star"></i>
  <i class="fal fa-star"></i>
  <i class="fal fa-star"></i>
  <i class="fal fa-star"></i>
  <i class="fal fa-star"></i>
</div>

<div class="product-action">
  <button (click)="onClickPurchase()">Purchase</button>
</div>

<div class="product-description" [innerHTML]="product.description"></div>

<div class="product-description">
  <h4>Returns</h4>
  <p>
    We accept returns of unworn merchandise up to 30 days from purchase for a full refund.
  </p>
</div>
