<div>
  <img [src]="product.image" />
</div>

<div class="display-flex color-primary padding-0-1">
  <h4 class="flex-basis-grow">{{ product.name }}</h4>
  <h4 class="flex-basis-grow text-align-right">R{{ product.price | number }}</h4>
</div>

<div class="padding-0-1">
  <i class="fal fa-star padding-0-p5"></i>
  <i class="fal fa-star padding-0-p5"></i>
  <i class="fal fa-star padding-0-p5"></i>
  <i class="fal fa-star padding-0-p5"></i>
  <i class="fal fa-star padding-0-p5"></i>
</div>

<div class="color-secondary padding-0-1">
  <p>
    {{ product.description }}
  </p>
</div>

<div class="color-secondary padding-0-1">
  <button (click)="onClickPurchase()">Purchase</button>
</div>
