<form [formGroup]="formGroup">
  <div class="padding-0-1">
    <h4>USER INFORMATION</h4>
  </div>

  <div class="padding-0-1">
    <label class="display-flex margin-1-0" for="name">
      Name
      <input formControlName="name" id="name" name="input" placeholder="Name" type="text" />
    </label>
    <label class="display-flex margin-1-0" for="emailAddress">
      Email Address
      <input id="emailAddress" name="input" placeholder="Email Address" type="text" />
    </label>
    <label class="display-flex margin-1-0" for="mobile">
      Mobile
      <input id="mobile" name="input" placeholder="Mobile" type="text" />
    </label>
  </div>

  <div class="padding-0-1">
    <h4>SHIPPING INFORMATION</h4>
  </div>

  <div class="padding-0-1">
    <label class="display-flex margin-1-0" for="street">
      Street
      <input id="street" name="input" placeholder="Street" type="text" />
    </label>
    <label class="display-flex margin-1-0" for="city">
      City
      <input id="city" name="input" placeholder="City" type="text" />
    </label>
    <label class="display-flex margin-1-0" for="region">
      State / Province / Region
      <input id="region" name="input" placeholder="State / Province / Region" type="text" />
    </label>
    <label class="display-flex margin-1-0" for="country">
      Country
      <input id="country" name="input" placeholder="Country" type="text" />
    </label>
    <label class="display-flex margin-1-0" for="zipCode">
      Zip Code
      <input id="zipCode" name="input" placeholder="Zip Code" type="text" />
    </label>
  </div>

  <div class="color-secondary padding-0-1">
    <button (click)="onClickContinueToPayment()">Continue to Payment</button>
  </div>
</form>
